ecr_repo = "discord-link-bot"
codecommit_name = "discord-link-bot"
aws_region = "us-east-1"

# Optional: set your key pair name for EC2 access
# key_name = "my-key"

# common_tags - map
common_tags = {
  ManagedBy = "Terraform"
  Project   = "discord-bot"
}
